<div id="root"></div>
<partial name="_ReactScripts" />
<script src="~/react/CommandsSender.jsx" type="text/babel" asp-append-version="true"></script>
<script src="~/react/CommandsTable.jsx" type="text/babel" asp-append-version="true"></script>
<script src="~/react/Terminal.jsx" type="text/babel" asp-append-version="true"></script>
<script src="~/react/script.jsx" type="text/babel" asp-append-version="true"></script>